bin/
gen/
out/
aidls/gen/
code/gen/
classes/
IntegrationTests/gen/
*.ipr
*.iws
*.classpath
*.project
.settings/*
.DS_Store
local.properties
emulator15SdCard.*
temp.json
temp.xml
temp.txt
tmp/
target/
junk*
gen-external-apklibs
.idea/**
.idea/
